<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel = "stylesheet" href  = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <script src = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>    
     <link rel = "stylesheet" href = "{{ url_for('static',filename='style.css') }}">
    </head>

    <body class = "body_lp">
       
        <h1 class = "fh" >Here's the Employee opinions  :</h1>
        <div class = "container">
           <div class = "row">
               <div class = "col">
                 
                
                    <div class="table-responsive">          
                            <table class="table">
                              <thead>
                                <tr>
                                  <th>#</th>
                                  <th>Subject </th>
                                  <th>Message </th>
                                  <th>Date Raised</th>
                                  <th>Sentiment Params</th>
                                  <th>Sarcasm Params </th>
                                  <th>Remark_status</th>
                                   <th>Date Resolved </th>
                                   <th>Action </th>
                                </tr>
                              </thead>
                              <tbody>
                       {% for row in rows %}  
                                <tr>
                                  <td>{{row["sno"]}}</td>
                                  <td>{{row["sub"]}}</td>
                                  <td>{{row["message"]}}</td>
                                  <td>{{row["date_su"]}}</td>
                                  <td>{{row["sentiments"]}}</td>
                                  <td>{{row["sarcasm"]}}</td>
                                  <td>{{row["remark"]}}</td>
                                  <td>{{row["date_re"]}}</td>
                                  <td><a> <button type="button" class="btn btn-info">Solve and Add Remarks</button> </a> </td>
                                </tr>
                      {% endfor%}
                              </tbody>
                            </table>
                            </div>

             </div>
           </div>    
        </div>
           <footer> 
             <a href = {{url_for('emp' , choice = 'senr' )}} > Jump Back To Main Page ? </a>
             </footer>
        
        
        
    </body>
    
</html>